{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {% render_field form.first_name class="form-control" %}
                <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating mb-3">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>


{% endblock content %}