{% extends 'base.html' %}

{% block content %}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Applicants</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{job.title}}</td>
                <td>
                    <a href="#" class="">0</a>
                </td>
                <td>{{job.end_date}}</td>
                <td><span class="badge bg-success">Active</span></td>
                <td>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                    <a href="{% url 'update-job' job.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                    <a href="{% url 'delete-job' job.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}