{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col-md-7">
        <div class="p-4 h-100 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{company.name}}</h1>
                <p class="col-md-8 fs-4">{{company.description}}</p>
                <a href="{% url 'update-company' company.pk %}" class="btn btn-primary btn-lg" type="button">Update Company Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="p-4 h-100 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Quick Facts</h1>
                <ul>
                    <li class="fs-4">Established on: {{company.established_on}}</li>
                    <li class="fs-4">Located at {{company.physical_address}}, {{company.state}}, {{company.country}}. </li>
                    <li class="fs-4">{{company.employees_total}} Employees</li>
                    <li class="fs-4">{{company.industry}} Industry</li>
                    <li class="fs-4"><b>{{company.job_set.all.count}}</b> job{{company.job_set.all.count|pluralize}} available</li>
                </ul>
               
            </div>
        </div>
    </div>
</div>

<section>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for job in jobs %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <span class="badge bg-primary mb-1">{{job.job_location}}</span>
                    <h5 class="card-title">{{job.title}}</h5>
                    <p class="card-text">{{job.description|slice:"200"}}</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">See More</a>
                    <a href="{% url 'update-job' job.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                    <a href="{% url 'delete-job' job.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Posted {{job.posted_on|naturaltime|title}}</small>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</section>


{% endblock content %}